# === UNIVERSAL ===
.DS_Store
report_*.txt
output*/
_temp*.?*
OTHER_REPOS/
# === LOCAL ===
/podman-local.yml
/auth.json
/node_modules/
/playwright-report/
/test-results/
/package-lock.json
# Template-only ignores.
# === PYTHON ===
build/
dist/
sdist/
*.egg
*.egg-info/
site/
